.skills {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    background-image: url('../Images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg')
}

.skills h1 {
    color:rgb(79, 47, 71);
}

.skills .list {
    list-style:none;
    width: 60%;
}
